@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@mixin calculateItems($item_width) {
  $cols: floor(100%/$item_width);
  $interval: (100 - ($cols * $item_width))/($cols - 1);
  flex: 0 1 $item_width;
  margin-right: $interval;
  &:nth-child(#{$cols}n) {
    margin-right: 0;
  }
  &:last-child {
    margin-right: auto;
  }
}