@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@mixin calculateItems($item_width, $padding: 0%) {
  $true_width: 100% - 2*$padding;
  $cols: floor($true_width/$item_width);
  $interval: ($true_width - $cols * $item_width)/($cols - 1);
  flex: 0 1 $item_width;
  &:nth-child(n) {
    margin-right: $interval;
    margin-left: 0;
  }
  &:nth-child(#{$cols}n) {
    margin-right: $padding;
  }
  &:nth-child(#{$cols}n + 1) {
    margin-left: $padding;
  }
}