@import "mixins";

@import "fonts";

//шрифт по умолчанию
$fontfamily: "Roboto-Regular";

//переменные
$minWidth: 320px;
$maxWidth: 1400px;
$maxWidthContainer: 1180;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  // @media (max-width: $md1+px){
  //   max-width: 970px;
  // }
  // @media (max-width: $md2+px){
  //   max-width: 750px;
  // }
  // @media (max-width: $md3+px){
  //   max-width: none;
  //   padding: 0 10px;
  // }
  padding: 0px 20px;
  @media (max-width: $md4+px){
    padding: 0px 10px;
  }
}

//Обнуление, общие параметры
*,:before,:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontfamily;
  font-size: 14px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@import "header";