@import "mixins";

@import "fonts";

//шрифт по умолчанию
$fontfamily: "Roboto-Regular";

//переменные
$minWidth: 320px;
$maxWidth: 1400px;
$maxWidthContainer: 1180;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  // @media (max-width: $md1+px){
  //   max-width: 970px;
  // }
  // @media (max-width: $md2+px){
  //   max-width: 750px;
  // }
  // @media (max-width: $md3+px){
  //   max-width: none;
  //   padding: 0 10px;
  // }
  padding: 0px 20px;
  @media (max-width: $md4+px) {
    padding: 0px 10px;
  }
}

//Обнуление, общие параметры
*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontfamily;
  font-size: 14px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body._active {
  overflow: hidden; // Нужно ещё доделать правый паддинг при открытии меню и модальных окон
}

@import "header";

//<ОСНОВНОЙ БЛОК>

.page {
  padding: 163px 0 0 0;
  flex: 1 1 auto;
  @media (max-width: $md3+px) {
    padding: 143px 0 0 0;
  }
  @media (max-width: 640px) {
    padding: 80px 0 0 0;
  }
  // .page__container
  &__container {
    @media (min-width: $md2+px) {
      display: flex;
    }
  }
  // .page__side
  &__side {
    flex: 0 0 20%;
    @media (max-width: $md2+px) {
      margin: 0 0 30px 0;
    }
  }
  // .page__menu
  &__menu {
  }
  // .page__content
  &__content {
    @media (min-width: $md2+px) {
      flex: 1 1 auto;
      padding: 0 0 0 30px;
    }
  }
}

.menu-page {
  background: url("../img/bg_menu.jpg") top repeat;
  z-index: 1;
  // .menu-page__header
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  // .menu-page__title
  &__title {
    flex: 0 1 auto;
    color: #fff;
    font-family: UniSans;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    line-height: 35 / 30 * 100%;
    margin-right: 20px;
  }
  // .menu-page__burger
  &__burger {
    flex: 0 0 36px;
    width: 36px;
    height: 36px;
    background-color: #068292;
    cursor: pointer;
    padding: 10px 6px;
  }
  // .menu-page__lines
  &__lines {
    position: relative;
    width: 24px;
    height: 18px;
    span {
      transition: 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
      &:first-child {
        top: 0;
      }
      &:last-child {
        top: auto;
        bottom: 0;
      }
    }
    &._active {
      span {
        transform: scale(0);
        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }
        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }
  // .menu-page__body
  &__body {
    display: block;
    &._active {
      display: none;
    }
  }
  // .menu-page__list
  &__list {
    li {
      border-bottom: 1px solid #1aa7b9;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  // .menu-page__link
  &__link {
    display: block;
    font-family: "Roboto-Light";
    font-size: 12px;
    letter-spacing: 0.3px;
    color: #fff;
    padding: 10px 20px;
    position: relative;
    // .menu-page__link_parent
    &_parent {
      position: relative;
      .menu-page__link {
        &::after {
          content: "";
          position: absolute;
          right: 10px;
          top: 50%;
          width: 14px;
          height: 14px;
          transform: translate(0px, -50%);
          background: url("../img/menu_arrow.png");
          transition: 0.2s ease 0s;
          @media (max-width: $md2+px) {
            transform: translate(0px, -50%) rotate(90deg);
          }
        }
      }
      &._active {
        .submenu-page {
          visibility: visible;
          z-index: 2;
          &__item {
            display: block;
            @media (min-width: $md2+px) {
              transform: translate(0px, 0px);
            }
          }
        }
        .menu-page__link {
          background-color: #098494;
          &::after {
            @media (max-width: $md2+px) {
              transform: translate(0px, -50%) rotate(-90deg);
            }
          }
        }
      }
      .submenu-page {
        visibility: hidden;
        z-index: 1;
      }
    }
    @media (min-width: $md2+px) {
      &:hover {
        background-color: #098494;
      }
    }
  }
  // .menu-page__submenu
  &__submenu {
    @media (min-width: $md2+px) {
      position: absolute;
      overflow: hidden;
      left: 100%;
      bottom: 100%;
      transform: translateY(-2px) translate(-2px, 100%);
    }
  }
}

.submenu-page {
  // .submenu-page__item
  &__item {
    display: none;
    @media (min-width: $md2+px) {
      display: block;
      transition: 0.15s ease 0s;
      border: 2px solid #098494;
      transform: translate(-100%, 0px);
    }
  }
  // .submenu-page__list
  &__list {
  }
  // .submenu-page__link
  &__link {
    display: block;
    font-family: "Roboto-Light";
    font-size: 12px;
    letter-spacing: 0.3px;
    color: #fff; //#1ab9ce;
    white-space: nowrap;
    padding: 10px 40px;
    background-color: #07bbd3;
    @media (min-width: $md2+px) {
      &:hover {
        background-color: #098494; //#71c7d3;
        color: #fff;
      }
    }
  }
}

//<Контент>
.products {
  // .products__title
  &__title {
    flex: 1 1 auto;
    color: #999;
    font-family: UniSans;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 42 / 36 * 100%;
    @media (max-width: $md2+px) {
      text-align: center;
    }
  }
  // .products__items
  &__items {
    display: flex;
    flex-wrap: wrap;
  }
}
.items-products {
  width: 100%;
  margin: 20px 0 0 0;
}

.item-product {
  position: relative;
  min-width: 210px;
  margin-bottom: 80px;
  @include calculateItems(24%);
  @media (max-width: $md1+px) {
    @include calculateItems(32%, 1%);
  }
  @media (max-width: $md3+px) {
    @include calculateItems(48%, 1%);
  }
  @media (max-width: $md4+px) {
    @include calculateItems(76%, 12%);
  }
  // .item-product__wrapper
  &__wrapper {
    padding: 20px;
  }
  // .item-product__image-wrapper
  &__image-wrapper {
    position: relative;
    width: 100%;
    max-width: 170px;
    height: 170px;
    margin: auto;
  }
  // .item-product__stickers
  &__stickers {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  // .item-product__image
  &__image {
    position: absolute; //Выравнивание по центру враппера
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
  // .item-product__info
  &__info {
  }
  // .item-product__counter
  &__counter {
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 100%;
    transform: translateY(-10px);
    visibility: hidden;
  }
  &._active {
    z-index: 1;
    .item-product__wrapper {
      border: 1px solid #ddd;
      border-radius: 10px;
      box-shadow: 0 2px 20px 1px rgba(0, 0, 0, 0.05);
      padding: 19px;
    }
    .info-product {
      &__description {
        @media (min-width: $md2+px) {
          transition: 0s ease 1s;
          visibility: visible;
        }
      }
      &__counter {
        visibility: visible;
      }
    }
    .counter {
      &__wrapper {
        border: 1px solid #ddd;
        border-top: none;
        box-shadow: 0 2px 20px 1px rgba(0, 0, 0, 0.05);
        transform: translateY(0px);
      }
      &__block {
        margin-left: -1px; //костыль
      }
      &__button {
        margin-right: -1px; //костыль
      }
    }
  }
}
.sticker {
  padding: 5px;
  background-color: #999;
  border-radius: 10px;
  color: #fff;
  // .sticker_new
  &_new {
    background-color: #06997c;
  }
}
.info-product {
  // .info-product__text
  &__text {
    height: 94px; //dllllllllllllllllllllll
    position: relative;
  }
  // .info-product__title
  &__title {
    color: #0a5221;
    word-wrap: break-word;
  }
  // .info-product__description
  &__description {
    position: absolute;
    visibility: hidden;
    width: 100%;
    bottom: 0;
    left: -10px;
    background-color: #348c4f;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    box-sizing: content-box;
  }
  // .info-product__existence
  &__existence {
    margin: 10px 0;
    font-size: 0;
  }
  // .info-product__existence-svg
  &__existence-svg {
    width: 12px;
    height: 12px;
    fill: #348c4f;
    margin: 0 5px 0 0;
  }
  // .info-product__prices
  &__prices {
    font-size: 0px;
  }
  // .info-product__label-price
  &__label-price {
    color: #0a5221;
    font-weight: bold;
    font-size: 13px;
  }
  // .info-product__price
  &__price {
    display: inline-block;
    span {
      font-weight: bold;
      white-space: nowrap;
    }
  }
}
.existence {
  // .existence_true
  &_true {
    span {
      font-size: 12px;
      color: #348c4f;
    }
  }
}
.price {
  // .price_new
  &_new {
    margin-right: 5px;
    span {
      font-size: 19px;
    }
  }
  // .price_rub
  &_rub {
  }
  // .price_old
  &_old {
    span {
      text-decoration: line-through;
      font-size: 17px;
      color: #8a8a8a;
    }
  }
}
.counter {
  // .counter_block
  &__block {
    box-sizing: content-box;
    border: 1px solid #bbb;
    font-size: 0;
    display: inline-block;
    border-radius: 2px;
    user-select: none;
    height: 26px;
    white-space: nowrap;
  }
  // .counter__wrapper
  &__wrapper {
    visibility: visible;
    transform: translateY(-100%) translateY(10px);
    transition: transform 0.2s ease 0s;
    z-index: 4;
    display: flex;
    padding: 10px 19px 19px 19px;
    border-color: #ddd;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
  }
  // .counter__text
  &__text {
    width: 32px;
    border: 0;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    background: #eee;
    color: #000;
    font-size: 13px;
    height: 100%;
    border-radius: 0;
    text-align: center;
    font-weight: 500;
    line-height: 13px;
    padding: 8px 8px 7px;
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button {
      display: none;
    }
    &:focus {
      outline: none;
    }
  }
  // .counter__plus // .counter__minus
  &__plus,
  &__minus {
    font-size: 0;
    position: relative;
    line-height: 26px;
    height: 100%;
    width: 21px;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    &:before {
      position: absolute;
      content: "";
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 10px;
      width: 10px;
    }
    &:hover {
      background: #ddd;
    }
  }
  // .counter__minus
  &__minus {
    &:before {
      background: url("../img/icons/minus.svg") no-repeat;
      background-size: contain;
    }
  }
  // .counter__plus
  &__plus {
    &:before {
      background: url("../img/icons/plus.svg") no-repeat;
      background-size: contain;
    }
  }
  // .counter__button
  &__button {
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #777;
    padding: 4px 5px 1px 5px;
    cursor: pointer;
    // .counter__button_cart
    &_cart {
      width: 35px;
      height: 35px;
      fill: #777;
    }
    &:hover {
      background-color: #fff;
      border: 2px solid #222;
      .counter__button_cart {
        fill: #222;
      }
    }
  }
}
.button {
}

//</Контент>

//</ОСНОВНОЙ БЛОК>
